{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
    <nav class="app-sub-navigation" aria-label="Sub navigation">

      <ul class="app-sub-navigation__list">
          
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="about">About this service</a>
            </li>
          
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="dash2">Research and insights</a>
            </li>
    
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="share">Share your work</a>
            </li>
          
      </ul>
    
    </nav>

    </legend>

  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Local-0 rapid local contract tracer pilot</h1>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Test this intervention in your local area</h2>
          <p class="govuk-body"> We can help you improve self-isolation in your area by providing guidance and toolkits based on this research.</p>
          <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>
        </div>

        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Summary</h2>

       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Region
            </dt>
            <dd class="govuk-summary-list__value">
              Greater London
            </dd>
            

           
          </div>


          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Local Authority
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">London Borough of Lewisham

              </p>
            </dd>

           

            
          </div>


       
           <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Timeframe
            </dt>
            <dd class="govuk-summary-list__value">
              Jan 2021 to Mar 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>


        

        
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Approx budget
            </dt>
            <dd class="govuk-summary-list__value">
              £75,000
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Approx sample
            </dt>
            <dd class="govuk-summary-list__value">
              100,000 people
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Effectiveness
            </dt>
            <dd class="govuk-summary-list__value">
              Highly effective
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Intervention(s) tested
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Lorem ipsum dolor sit amet </li>
                <li>consectetur adipiscing elit</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Target audience(s)
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>sed do eiusmod </li>
                <li>tempor incididunt ut labore</li>
                <li>et dolore magna aliqua</li>
              </ul>

            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Findings
            </dt>
            <dd class="govuk-summary-list__value">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>

          


        </dl>




        <h2 class="govuk-heading-m">Pilot toolkit</h2>

        <div class="govuk-cookie-banner " role="region" aria-label="Cookies on [name of service]">
          <div class="govuk-cookie-banner__message govuk-width-container">

        
                <div class="govuk-cookie-banner__content">
                  To help you trial or implement this approach in your own local area, you can <a href="#">download the full guidance and toolkit (PDF)</a></p>
                  
                </div>
             
            </div>
        
            
          </div><br><br>

          <h2 class="govuk-heading-m">Aims of this pilot</h2>
          <p class="govuk-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
          <br><br>
        


          <h2 class="govuk-heading-m">Research methods</h2>
          <p class="govuk-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        

        <p class="govuk-body"><a href="#">Download the logical research model (PDF)</a>.</p>

        <br><br>

        <h2 class="govuk-heading-m">Data collection methods</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</li>
          <li>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</li>
          <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </li>
        </ul>
        

        <p class="govuk-body"><a href="#">Download the full dataset (Excel)</a></p>
        <br><br>

        <h2 class="govuk-heading-m">Results of this research</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</li>
          <li>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</li>
          <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </li>
        </ul>
        

        <p class="govuk-body"><a href="#">Download the full dataset (Excel)</a></p>
        



      </div>
      </div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}