{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
  <nav class="app-sub-navigation" aria-label="Sub navigation">

    <ul class="app-sub-navigation__list">
  

  
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" aria-current="page" href="dash2">Research results</a>
          </li>
        
    
  
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="share">Submit case study</a>
          </li>

          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="#">Apply for funding</a>
          </li>
        
      </ul>
  
  </nav>

  </legend>


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Research and insights </h1>

      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">Filter</h2>

    <form action="/form-handler" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <a href="#" class="govuk-button show-continue">
     Apply filters
</a>





    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Research focus
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Financial support
            </label>
          </div>
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Accommodation
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              1-to-1 buddy support
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Better enforcement
            </label>
          </div>

         

          

         
        </div>
      </fieldset>
    </div>

    

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Region
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Financial support
            </label>
          </div>
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              North-east
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              North-west
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Yorkshire + the Humber
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              West Midlands
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              East Midlands
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              South-west
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              South-east
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              East of England
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Greater London
            </label>
          </div>

         

          

         
        </div>
      </fieldset>
    </div>
  </div>
  <div class="govuk-grid-column-three-quarters"> 
    <div class="govuk-form-group">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Search by keyword or location
        </legend>
     
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
     &nbsp; &nbsp;<a href="#"  class="govuk-button show-continue">Search</a></div>
    
  
    <h2 class="govuk-heading-m">Financial support</h2>
    


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> </th>
          <th class="govuk-table__header" scope="col"> </th>
        </tr>
      </thead>
      
      
      
      <tbody class="govuk-table__body">



        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--red">
              Running low
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
     
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
      
    
        
      </tbody>
    </table><br><br><br>

    <h2 class="govuk-heading-m">1-to-1 buddy support</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> </th>
          <th class="govuk-table__header" scope="col"> </th>
        </tr>
      </thead>
      
      
      
      <tbody class="govuk-table__body">



        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--red">
              Running low
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
     
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers" class="govuk-link govuk-link--no-visited-state">
                Local-0 rapid local contract tracer pilot
              </a></h3>
              <p>Care homes, workplaces, under-served groups<br>
                Dr Matt Tyrer
              </p>
          </td>
          <td class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Planned
            </strong><br><br>
            <p>
            Cheshire Council<br>
            April - June 2021</p>
    
          </td>
        </tr>
      
    
        
      </tbody>
    </table>
    

  </div>
</div>
</main>
</div>
</div>

  

         
      


{% endblock %}