{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
  <nav class="app-sub-navigation" aria-label="Sub navigation">

    <ul class="app-sub-navigation__list">
  

  
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link"  href="dash2">Research and insights</a>
          </li>
        
    
  
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="share">Submit case study</a>
          </li>

          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="#">Apply for funding</a>
          </li>
        
      </ul>
  
  </nav>

  </legend>
        
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply for funding for a coronavirus pilot study</h1>

      <p>If you are a loc</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus neque, mollis nec est sit amet, lacinia placerat ante.


        <ul class="govuk-list govuk-list--bullet">
          <li>Aliquam libero augue, aliquet et mauris et, fringilla molestie nulla. </li>
          <li>Aenean lectus neque, mollis nec est sit amet, lacinia placerat ante.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          
        </ul>
  
        
        
        
        </p>


      
     

      <a href="dash2" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>


      

      <h2 class="govuk-heading-m">Guidance to help you run a local experiments</h2>


      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus neque, mollis nec est sit amet, lacinia placerat ante. Aliquam libero augue, aliquet et mauris et, fringilla molestie nulla.



        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus neque, mollis nec est sit amet, lacinia placerat ante.</p>

      <br>
        
        <h2 class="govuk-heading-m">Toolkits and other resources</h2>


      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus neque, mollis nec est sit amet, lacinia placerat ante. Aliquam libero augue, aliquet et mauris et, fringilla molestie nulla.



        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus neque, mollis nec est sit amet, lacinia placerat ante.</p>
      
        
        
    </div><br><br>

    

     

    </div>
  </div>
</main>

  </main>
</div>


{% endblock %}