{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Euston Place Dental Practice
      </h1>
    
<span id="dob-hint" class="govuk-hint">
UKPRN: 87651234</span>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">LRS Application</h1>

        <h2 class="govuk-heading-m"></h2>

       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Independent Training Provider
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Checked
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">England</p>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


       
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ICO number
            </dt>
            <dd class="govuk-summary-list__value">
              1108311
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        

        
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Companies House number
            </dt>
            <dd class="govuk-summary-list__value">
              1108311
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        </dl>




        <h2 class="govuk-heading-m">Reasons for access</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Access to LRS
            </dt>
            <dd class="govuk-summary-list__value">
              To find or create ULN's
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        

        
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Reason for ULN's
            </dt>
            <dd class="govuk-summary-list__value">
              The awarding body requires it
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Awarding body
            </dt>
            <dd class="govuk-summary-list__value">
              OCR (Oxford, Cambridge and RSA Examinations)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Checked<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Uploaded file
            </dt>
            <dd class="govuk-summary-list__value">
              OCR_accreditation.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Checked<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Access to PLR
            </dt>
            <dd class="govuk-summary-list__value">To support careers advice and guidance.<br>
             I'm not sure what to write in this section but it may be useful to.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Checked<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        

        
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated learners
            </dt>
            <dd class="govuk-summary-list__value">
              2000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Checked<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        </dl>



        


        <h2 class="govuk-heading-m">Application owner</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Romeo Bridger
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 009 8800
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              rbridger@weirtraining.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          

        </dl>



        <h2 class="govuk-heading-m">Super user</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              jsmith@weirtraining.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          



        </dl>


        <h2 class="govuk-heading-m">Agreement signatory</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
             Theo Curtis
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              tcurtis@weirtraining.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          

          

        </dl>




        <h2 class="govuk-heading-m govuk-!-font-size-27">Checked by</h2>

        <p class="govuk-body">By approving this application you are confirming that, to the best of your knowledge, the details are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue" style="display: inline;">
      Approve application
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        <!--  <a href="seven" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
       
      </div>
    </div>
  </main>
</div>


{% endblock %}