{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Euston Place Dental Practice
      </h1>
    
<span id="dob-hint" class="govuk-hint">
UKPRN: 87651234</span>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">LRS Application</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="answers">Application</a>
                </li>
              
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="notes">Notes</a>
                </li>
              
            
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="timeline">Timeline</a>
                </li>
              
            </ul>
        
        </nav>

       
        




        

        

        

        
           


         
              
              
                
          
          

          

        <h2 class="govuk-heading-m">Note added</h2>
<p>Euston Dental Practice<br>21 Aug 2020 at 9:49pm<br></p>

<h2 class="govuk-heading-m">View note</h2>
<p>Application submitted<br> 21 Aug 2020 at 9:49pm</p>

<h2 class="govuk-heading-m">View application</h2>

        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}